body {
	margin: 10;
	padding: 10;
}


.flex {
	display: flex;
	flex-direction: column;
	font-family: 'Noto Sans', sans-serif;
}


.article {
	position: relative;
	order: 2;
	margin-top: 100px;
	margin-left: 80px;
	margin-bottom: 100px;
}

.card {
	margin-top: 100px;
	padding: 30px;
}

.image {
	width: 450px;
	height: 550px;
	resize: both;
}


.iphone {
	font-family: 'Noto Sans', sans-serif;
	width: 450px;
	margin: 0;
}


.pixel {
	font-family: 'Noto Sans', sans-serif;
	width: 450px;
	margin: auto;
}



.samsung {
	font-family: 'Noto Sans', sans-serif;
	width: 450px;
	margin-left: 70%;
}



.table {
	border: 1px solid;
	border-collapse: collapse;
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
	background-color: #daeaf5;
}


.paragraph {
	color: rgba(0, 0, 128, 1.0);
	font-size: 28px;
	margin-left: 40px;
	font-family: 'Noto Sans', sans-serif;
}