CREATE DATABASE [AdoNetCoreHomework]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AdoNetCoreHomework', FILENAME = N'C:\Users\ipv27\AdoNetCoreHomework.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AdoNetCoreHomework_log', FILENAME = N'C:\Users\ipv27\AdoNetCoreHomework_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
GO
USE [AdoNetCoreHomework]
GO
USE [AdoNetCoreHomework]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [AdoNetCoreHomework] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
